[rsyzpa] {
	&.update {
		&__header {}

		&__content {
			margin-left: 2.2rem ;
		}

		&__screenshots {
			margin-left: 2.2rem ;
		}

		&__screenshot {
			box-shadow: 0px 0px 0px 1px fade( #cccccc, 50% ) ;
		}

		&:target > h3 {
			// Same as mark.
			background-color: #fffd76 ;
			color: #000000 ;
		}
	}
}
